<nav class="navbar navbar-fixed-top" >
    <div class="navbar-header" style="color:white;"> 
            
        <img [src]="imgsrc">   Trio Payment Upload 
    </div>
</nav>     

<br/><br/><br/><br/><br/>

<div class="row" style="margin-top: -10%;">

<div class="col-sm-12 col-lg-6">
    <div class="imageContainer" style="margin-top: 20px;">
       
    </div>
</div>


<br/><br/><br/><br/><br/>


<div *ngIf="currentFileUpload" class="progress">
<div class="progress-bar progress-bar-info progress-bar-striped"
    role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
    aria-valuemin="0" aria-valuemax="100"
    [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>
<form name="form" (ngSubmit)="f.form.valid && upload()" #f="ngForm" novalidate>
<div class="col-sm-8">
    <alert></alert>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !memberID.valid }">
            <label for="memberID" style="margin-left: 5px;">Member ID*</label>
            <br/><!--   (change)="getMemberIDValidate()"  -->
            <input type="text" class="form-control" style="width: 263px;margin-left: 4px;" name="memberID" [(ngModel)]="model.memberID" #memberID="ngModel" required />
            <div *ngIf="f.submitted && !memberID.valid" class="help-block" style="margin-left: 5px;">Member ID is required</div>
    </div>

    <div class="form-group">
        <label  for="c"> </label>
        <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
        </label>
        <br/><br/><br/>
    </div>
    
    <div class="form-group" style="margin-left: 6px;">
        <button class="btn btn-success" [disabled]="!selectedFiles">Upload</button>
        <a [routerLink]="['/login']" class="btn btn-primary">Cancel</a> 
    </div>
</div>
</form>


<div  class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':success}"  style="margin-top:-3%;height: 300%;">
<div class="modal-dialog" role="document">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        <p>Payment upload is Succesfully done.</p>
        <div class="modal-footer">
            <button type="button" class="success" (click)="onCloseHandled()" >Close</button>
        </div>
  </div>
</div>
</div>