<app-header></app-header>
<br/>
<div *ngIf="reportmenu1" id="page-wrapper" style="cursor: pointer;">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header"> <a> TRIO Report Dashboard </a></h2>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Clinic Report</div>
                                </div>
                            </div>
                        </div>
                            <div class="panel-footer">
                                <!-- <span class="pull-left"><a (click)="onMenuClick('reportforclinic')">Click here</a></span> -->
                                <span class="pull-left"><a [routerLink]="['/clinicreport']" >Click here</a></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>    
                                <div class="clearfix"></div>
                            </div>
                    </div>
                </div>


        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Partner Report</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <span class="pull-left"> <a [routerLink]="['/partnerreport']">Click here </a></span>
                       <!-- <span class="pull-left"> <a (click)="onMenuClick('memberreport')">Click here </a></span> -->
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Agent Report</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <span class="pull-left"><a [routerLink]="['/agent-report']" >Click here</a></span>
                        <!-- <span class="pull-left"> <a (click)="onMenuClick('agentreport')">Click here </a></span> -->
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Employee Report</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                            <span class="pull-left"> <a [routerLink]="['/employeereport']">Click here </a></span>
                            <!-- <span class="pull-left"> <a (click)="onMenuClick('employeereport')">Click here </a></span> -->
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Payment Report</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                            <span class="pull-left"> <a [routerLink]="['/paymentreport']">Click here </a></span>
                            <!-- <span class="pull-left"> <a (click)="onMenuClick('payrep')">Click here </a></span> -->
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div>Sales Report</div>
                        </div>
                    </div>
                </div>
                    <div class="panel-footer">
                        <span class="pull-left"> <a [routerLink]="['/salesreport']">Click here </a></span>
                        <!-- <span class="pull-left"> <a (click)="onMenuClick('salereport')">Click here </a></span> -->
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>

    </div>
</div>